body {
  background: #eee;
  text-align: center;
}
.mui-appbar{
	min-height:40px;
}
.mui--appbar-height{
	height:40px;
}
.mui-card {
    background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 150px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.xs-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.xs-shadow:hover {
  box-shadow: 0 14px 28px
  rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.22);
}

.xm-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.xm-shadow:hover {
    box-shadow: 0 14px 28px
  rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.22);
}

.md-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.md-shadow:hover {
  box-shadow: 0 14px 28px
  rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.22);
}

.xl-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.xl-shadow:hover {
      box-shadow: 0 14px 28px
  rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.22);
}

.xxl-shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.xxl-shadow:hover {
      box-shadow: 0 14px 28px
  rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.22);
}